@page "/"
@inject NavigationManager navManager

<PageTitle>Home</PageTitle>

<div class="main">  
    <h1 class="title">Anmelden</h1>

    <button class="login-button cerasis" @onclick="@(() => RedirectTo("/cerasis-login"))">
        Anmelden mit Cerasis
    </button>

    <button class="login-button ohne-cerasis" @onclick="@(() => RedirectTo("/OhneCerasis-login"))">
        Anmelden ohne Cerasis
    </button>
    <button class="login-button" @onclick="@(() => RedirectTo("/main"))">
        Weiter ohne Account
    </button>
</div>

<style>
    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        font-family: 'Jost', sans-serif;
        background: linear-gradient(to bottom, #000000, #1a1a1a, #333333);
    }

    .main {
        width: 350px;
        height: 300px;
        background: rgba(50, 50, 50, 0.7);
        border-radius: 10px;
        box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .title {
        color: white;
        font-size: 1.8em;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .login-button {
        width: 80%;
        height: 45px;
        margin: 10px 0;
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 1em;
        font-weight: bold;
        outline: none;
        border: none;
        border-radius: 5px;
        transition: .2s ease-in;
        cursor: pointer;
    }

    .cerasis {
        background: black;
        color: white;
    }

    .cerasis:hover {
        background: rgba(30, 30, 30, 1);
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    }

    .ohne-cerasis {
        background: rgba(30, 30, 30, 0.8);
        color: #bbb;
    }

    .ohne-cerasis:hover {
        background: rgba(50, 50, 50, 1);
        color: white;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    }
</style>

@code {
    private void RedirectTo(string page)
    {
        navManager.NavigateTo(page, true);
    }
}
