@page "/main"

<PageTitle>Home</PageTitle>

<div>
    <div style="display:flex">
        <h6>Made by Team Cerasis</h6>
        <h6 style="margin-left: auto;">Last update date : 25/03/2025</h6>
    </div>
	<h3 class="content-center">Mein HTL wien west</h3>
	<h4 class="content-center">Meine Schul webseite</h4>
</div>

<style>
    .content-center {
        display: flex;
        justify-content: center;
    }
</style>

@code {

}
