@page "/report-problem-ticket"
@inject NavigationManager navManager

<PageTitle>Report a Problem</PageTitle>

<div>
    <div style="display:flex">
        <h6>Made by Team Cerasis</h6>
        <h6 style="margin-left: auto;">Last update date : 01/04/2025</h6>
    </div>
    <div class="select_box">
        <h3 class="content-start">Report Problem!</h3>
        <h5 class="content-end">
            We at HTL wien west care a lot about our school, tell us what's wrong and let the school handle it quick and efficiently!
        </h5>
        <div class="row">
            <div class="col-auto">
                <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown">
                    Location
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Floor E</a></li>
                    <li><a class="dropdown-item">Floor G</a></li>
                    <li><a class="dropdown-item">Floor 1</a></li>
                    <li><a class="dropdown-item">Floor 2</a></li>
                    <li><a class="dropdown-item">Floor 3</a></li>
                    <li><a class="dropdown-item">Floor D</a></li>
                </ul>
            </div>

            <div class="col">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                    Select Problem Type
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Water Leak</a></li>
                    <li><a class="dropdown-item">Electronic Issues</a></li>
                    <li><a class="dropdown-item">Property Damage</a></li>
                    <li><hr class="dropdown-divider"/></li>
                    <li><a class="dropdown-item">Other</a></li>
                </ul>
            </div>
        </div>

        <img src="./resource/FD.png" width="20%"/>
    </div>
</div>

<style>
    body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        font-family: 'Jost', sans-serif;
        color:white;
        background: linear-gradient(to bottom, #000000, #1a1a1a, #333333);
    }
    .bottom_menu {
        position: absolute;
        background: rgba(100, 100, 100, 0.7);
        bottom: 0;
        height: calc(5% + 20px);;
        padding:10px;
        width: 100%;
    }
    .select_box {
        padding-bottom: calc(5% + 20px);;
        margin: auto;
        background: rgba(50, 50, 50, 0.7);
        border-radius: 10px;
        box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        /*align-items: center;
        justify-content: center;*/
        padding: 20px;
        width: fit-content;
        
    }
    .content-center {
        display: flex;
        justify-content: center;
    }
</style>

@code {
    private void RedirectTo(string page)
    {
        navManager.NavigateTo(page, true);
    }
}
